.env
.idea/
node_modules/
dist/
build/
.gradle/
minio-data/
mongodb-data/
postgres-data/
elasticsearch-data/
*.jtl
*.jmx
*.log
*.swp
*.m4a
error.txt
thesis-report/
scripts/
patch_artist.sh
seed_analytics.js
